.cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    &__photo {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        width: 370px;
        height: 370px;
        border-radius: 50px;
    }
}

@media (max-width: 1023px) {
    .cta {
        flex-direction: column;

        &__photo {
            width: 130px;
            height: 133px;
            border-radius: 20px;
        }
    }
}