@use '../color' as *;
@use '../function' as *;

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 33px;
    column-gap: fluid(20, 30, 1024, 1920);
    align-self: stretch;
    padding: fluid(60, 70, 1024, 1920);
    background-color: $color-white;
    border-radius: 50px;

    &__row {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        justify-content: left;
    }

    &__row_wide {
        grid-column: 1 / -1;
    }

    &__button {
        box-sizing: border-box;
        padding: 15px 30px;
        color: $color-white;
        background-color: $color-green-400;
        border-radius: 10px;
        transition: background-color 300ms ease;
    }

    &__button_secondary {
        color: $color-green-400;
        background-color: $color-green-100;
    }

    &__button:active {
        background-color: $color-green-200;
    }

    &__button_secondary:active {
        background-color: $color-gray-200;
    }
}

@media (min-width: 1024px) {
    .form {
        &__button {
            min-width: 235px;
        }

        &__button:hover {
            background-color: $color-green-300;
        }

        &__button_secondary:hover {
            background-color: $color-gray-100;
        }
    }
}

@media (max-width: 1023px) {
    .form {
        grid-template-columns: 1fr;
        gap: fluid(30, 33, 360, 1024);
        margin-top: -10px;
        padding: fluid(20, 60, 360, 1024);
        padding-bottom: fluid(40, 60, 360, 1024);
        border-radius: fluid(30, 50, 360, 1024);

        &__row_wide {
            gap: 10px;
        }

        &__button {
            width: 100%;
            padding: 12px 20px;
        }
    }
}