@use '../color' as *;
@use '../function' as *;

@keyframes HeaderAppearing {
    from {
        transform: translateY(-88px);
    }
    to {
        transform: translateY(0);
    }
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 88px;
    color: $color-white;

    &_fixed {
        position: fixed;
        z-index: 1;
        color: $color-black;
        background: rgba($color-beige-201, 0.6);
        backdrop-filter: blur(54px);
        animation: HeaderAppearing 300ms ease;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: fluid(910, 1170, 1024, 1920);
    }

    &__logo-icon {
        display: block;
        max-width: 182px;
        transition: max-width 300ms ease;
    }

    &__logo-icon_fixed {
        filter: invert(1);
    }

    &__navigation {
        display: flex;
        visibility: visible;
        flex-direction: row;
        gap: fluid(31, 50, 1024, 1920);
        justify-content: center;
        overflow: hidden;
        opacity: 1;
        transition: 300ms ease;
        transition-property: visibility, opacity;
    }

    &__phone:after {
        content: none;
    }
}

@media (max-width: 1023px) {
    .header {
        &__logo-icon {
            max-width: 132px;
        }

        &__menu {
            width: fluid(318, 910, 360, 1024);
        }

        &__navigation {
            visibility: hidden;
            opacity: 0;
        }
    }
}