@use '../color' as *;

.link {
    color: $color-black;
    text-decoration: none;

    &:active {
        color: $color-green-400;
        text-decoration: underline;
    }

    &_modern,
    &_modern:active {
        position: relative;
        color: inherit;
        white-space: nowrap;
        text-decoration: none;
    }

    &_modern:after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        border-top: 1px solid;
        transform: scaleX(0);
        transition: transform 300ms ease;
    }

    &_modern:active:after {
        transform: scaleX(1);
    }
}

@media (min-width: 1024px) {
    .link {
        &:hover {
            text-decoration: underline;
        }

        &_modern:hover {
            text-decoration: none;
        }

        &_modern:hover:after {
            transform: scaleX(1);
        }
    }
}