@use '../function' as *;

.photos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.photos__row {
    display: flex;
    flex-direction: row;
    gap: fluid(20, 30, 1024, 1920);
    height: 301px;
}