$color-black-100: #000000;
$color-black: #1B1F2B;
$color-white: #FFFFFF;
$color-orange-200: #EFA501;
$color-orange-100: #F8E6BE;
$color-green-400: #286562;
$color-green-300: #3B7E7B;
$color-green-200: #627F7E;
$color-green-100: #E0F0E5;
$color-gray-300: #A6A6A6;
$color-gray-200: #D9DFDB;
$color-gray-100: #F1F3F2;
$color-beige-201: #F3EFE8;
$color-beige-200: #F4F0E9;
$color-beige-100: #F9F7F4;