@font-face {
	src: url('font/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100 1000;
}

@font-face {
	src: url('font/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 100 1000;
}